@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body {
	background-image: url("https://static.vecteezy.com/system/resources/thumbnails/024/126/255/original/beautiful-earth-planet-scene-space-zoom-spinning-view-concept-of-climate-change-day-and-night-cities-lights-sunrise-world-planet-satellite-stars-nebula-and-galaxy-black-background-video.jpg");
	background-size: cover;
	height: 97vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}

.login {
	border: 1px solid #1b4f68;
	border-radius: 15px;
	width: 350px;
	height: 450px;
	display: flex;
	flex-direction: column;
	backdrop-filter: blur(5px);
	align-items: center;
}

.text-login {
	margin-top: 25px;
	margin-bottom: 29px;
	font-size: 22px;
	font-weight: 500;
	color: #d2f7ff;
}

.input-field {
	display: flex;
	flex-direction: column;
	width: 85%;
}

.input-field input, button{
	font-size: 16px;
	padding: 10px 15px;
	border: none;
	border-radius: 60px;
	margin: 10px;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

.input-field input {
	background-color: #ffffff2e;
	color: #023c72;
	letter-spacing: 1px;
	text-indent: 35px;
	background-repeat: no-repeat;
	background-position: 15px;
	background-size: 20px;
}

.input-field button {
	background-color: #1e6485;
	color: #040e16;
	cursor: pointer;
}

.text-username {
	background-image: url('free-icon-user-profile-4803050.png');
}

.text-pass {
	background-image: url('free-icon-lock-7640066.png');
}

.for-user {
	width: 85%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.remember {
	font-size: 14px;
	color: #02a7da;
}


.forgot {
	font-size: 12px;
	color: #001720;
}

